.bl-background {
    padding: 20px;
}

body{
    background: #cdcbcb;
}
.content{
    margin-bottom: 10px;
    width:100%;
    max-width: 1150px;
    margin: auto;
}

.bl-row {
    background: #cdcbcb;
    width:60%;
    padding-right:20px;

}

.firstColumn{
    /*padding: 10px;*/
    background: white;
    border-radius: 0.2em;
}


.bl-row,.bl-bought{
    width: 70%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.bl-bought{
    background: #cdcbcb;
    width: 30%;
}

.secondColumn{
    /*padding: 10px;*/
    padding-top:10px;
    padding-bottom: 10px;
    background: white;
    border-radius: 0.2em;

}


@media(max-width: 500px)  {
    .bl-row{
        width: 100%;
    }

    .bl-bought{
        width: 100%;
    }
}

/*Кнопки*/
.bl-label {
    background: #cdcbcb;
}
/*.bl-plus {*/
    /*background: #04a613;*/
/*}*/

.bl-product{
    padding: 14px;
    display: flex;
}


.nameOfProduct{
    display: inline-block;
    width: 80%;
    height: 30px;
    border: 2px solid rgba(34,36,38,.15);
    border-bottom-left-radius: .28571429rem;
    border-top-left-radius: .28571429rem;
    /*margin-left: 20px;*/
    /*margin-bottom: 20px;*/
    padding-left: 20px;
    color: darkgrey;
    margin-right: 0;
}

.nameOfProduct:focus{
    color: black;

}

.addButton{
    height: 36px;
    width: 20% ;
    border: 0;
    background: #2185D0;
    box-shadow: 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    border-radius: 0 .2307em .2307em 0;
    color: white;
    margin-left: 0;
    min-width: 60px;
}

.addButton:hover {
    background: #1673d0;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
}

.addButton:active{
    background: #0d65d0;
}


.bl-plus {
    position: relative;
    background: #21BA45;
    border-radius: 10em;
    color: white;
    outline: 0;
    border: 0; /* Параметры рамки */
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота */
    box-shadow:inset 0 -0.2em 1px rgba(34,36,38,.15);
    border-radius: 30px;
}

.bl-plus:hover{
    background-color: #2fcc16;

}
.bl-plus:active{
    background-color: #10990f;
}

.bl-plus::before{
    content: attr(data-tooltip);
    position: absolute;
    background: #b53874;
    /*background: #ff9679;*/
    top: -10px;
    width:60px;
    height: 0;
    opacity: 0;
    font-size: 0.6em;
    padding:5px;
    padding-top:7px;
    border-radius: 0.7em;
    transform: translate(-30px,0);
    transition: top 1s ease,opacity 2s ease,height 1s ease;
}

.bl-plus:hover::before{
    content: attr(data-tooltip);
    position: absolute;
    width:60px;
    height:10px;
    opacity: 0.8;
    background: #b53874;
    font-size: 0.6em;
    padding:5px;
    padding-top:7px;
    padding-bottom:7px;
    border-radius: 0.7em;
    top: -27px;
    /*left: -100%;*/
    transform: translate(-30px,0);

}

.bl-minus-disabled{
    position: relative;
    border-radius: 10em;
    color: white;
    outline: 0;
    border: 0; /* Параметры рамки */
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота */
    box-shadow:inset 0 -0.2em 1px rgba(34,36,38,.15);
    border-radius: 30px;
    background: #ffabb9;
}


.bl-minus {
    position: relative;
    background: #DB2828;
    border-radius: 10em;
    color: white;
    outline: 0;
    border: 0; /* Параметры рамки */
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота */
    box-shadow:inset 0 -0.2em 1px rgba(34,36,38,.15);
    border-radius: 30px;

}

.bl-minus:hover{
    background-color: #d01919;

}
.bl-minus:active{
    background-color: #d00414;
}


.bl-minus::before{
    content: attr(data-tooltip);
    position: absolute;
    background: #b53874;
    top: -10px;
    width:60px;
    height: 0;
    opacity: 0;
    font-size: 0.6em;
    padding:5px;
    padding-top:7px;
    border-radius: 0.7em;
    transform: translate(-30px,0);
    transition: top 1s ease,opacity 2s ease,height 1s ease;
}

.bl-minus:hover::before{
    content: attr(data-tooltip);
    position: absolute;
    width:60px;
    height:10px;
    opacity: 0.8;
    background: #b53874;
    font-size: 0.6em;
    padding:5px;
    padding-top:7px;
    padding-bottom:7px;
    border-radius: 0.7em;
    top: -27px;
    /*left: -100%;*/
    transform: translate(-30px,0);

}


.boughtButton {
    background: #e2e3e5;
    border-radius: 0.4em;
    color: #4a4a4a;
    border: 0.1px;
    outline: 0;
    border: 0; /* Параметры рамки */
    width: 80px; /* Ширина кнопки */
    height: 30px; /* Высота */
    box-shadow:inset 0 -0.2em 1px rgba(34,36,38,.15);


}

.boughtButton:hover{
    background-color: #CACBCD;
    color:black;

}
.boughtButton:active{
    background-color: #b3b4b6;
}



.deleteButton {
    background: #DB2828;
    border-radius: 0.2em;
    color: white;
    outline: 0;
    border: 0; /* Параметры рамки */
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота */
    box-shadow:inset 0 -0.2em 1px rgba(34,36,38,.15);

}

.deleteButton:hover{
    background-color: #d01919;

}
.deleteButton:active{
    background-color: #d00414;
}



.product{
    border-top:1px solid rgba(34,36,38,.15);
    display: flex;
}

.nameProductColumn{
    padding: 14px;
    width:25%;
}

.plusMinusColumn,.boughtColumn{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    width:37.5%;
    text-align: right;
}

.nameProductColumn,.plusMinusColumn,.boughtColumn{
    float: left;
    box-sizing: border-box;
}

.plusMinusColumn{
    text-align: center;
}


.bl-label{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    vertical-align: top;
    border-radius: 0.2rem;
    margin-left: 3px;
    margin-right: 3px;
}


.bl-title{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.bl-title:last-child{
    margin-top: 10px;
}


.notBoughtProducts{
    border-top:1px solid rgba(34,36,38,.15);
    border-bottom:1px solid rgba(34,36,38,.15);
    display: block;
    margin:10px;
}

.productWasBought{
    margin: 8px;
    vertical-align: center;
}

.notBoughtProduct{
    background-color: lightgray;
    /*margin-bottom:10px;*/
    margin-top:10px;
    margin-left:0;
    border-radius: 0.3em;
    vertical-align: center;
    display: inline-block;
    /*width: 100px;*/
    /*height:25px;*/
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
}



.notBoughtProduct:last-child{
    margin-bottom: 10px;
}



.amountOfProductsLebel{
    display: inline-block;
    background-color: darkorange;
    /*padding-left: 7px;*/
    /*padding-right: 7px;*/
    /*padding-bottom: 5px;*/
    /*padding-top: 5px;*/
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 20px;
    text-align: center;
    vertical-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.lastPanel{
    border-top:1px solid rgba(34,36,38,.15);
}

.productsMaket{
    display:none;
}

.beyedj{
    position: fixed;
    bottom: -100px;
    left: 100px;
    width: 150px;
    /*height:180px;*/
    background: #bc0a76;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    color:white;
    text-align: center;
    padding-top:20px;
    transition: all 1s ease;
}

.beyedj:hover{
    background: blueviolet;
    /*transform: translate(0, -120px);*/
    bottom: 0;
}

.createdBy{
    margin-top:20px;
    margin-left: 10px;
    text-align: left;

}

.Surname{
    text-align: left;
    margin-top:7px;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media print  {
    .beyedj{
        background: white;
        border:1px solid #dd00dd;
        padding-top: 0;
        bottom: 0;
    }

    .BuyList{
        display: none;

    }

    .Surname{
        margin-top: 0;
    }
}

